<div  style="text-align: center; ">
<h3> </h3>



<h3><b>
  Вход
</b></h3>

<br/>

<%= form_for @user, url:auth_url, remote: true do |f| %>
  <div class="field">
    <%= f.label 'Логин' %>
    <%= f.text_field :login , type: :login %>
  </div>
  <h1></h1>
  <div class="field">
    <%= f.label 'Пароль' %>
    <%= f.text_field :password ,  type: :password %>
  </div>
  <h1></h1>
    <div class="field">
      <%= link_to 'Назад','/'%>
      <%= f.submit 'Войти' %>
    </div >

<% end %>

</div>