<div  style="text-align: center; ">
<h3> </h3>

<h3><b>
  Регистрация
  </b></h3>



<%= form_for @user, remote: true do |f| %>
  <div class="field">
    <%= f.label 'Логин' %>
    <%= f.text_field :login , type: :login %>
  </div>
  <h1></h1>
  <div class="field">
    <%= f.label 'Пароль' %>
    <%= f.text_field :password ,  type: :password %>
  </div>
  <h1></h1>
  <div class="field">
    <%= f.label 'Имя' %>
    <%= f.text_field :name ,  type: :name %>
  </div>
    <h1></h1>
    <div class="field">
      <%= link_to 'Назад', '/' %>
      <%= f.submit 'Зарегистироваться' %>
    </div>

<% end %>

</div>