<div  style="text-align: center; ">
<%= link_to 'Назад', '/' %>
<%= link_to 'Корзина', '/bag' %>
<h3>
  Все товары
</h3>

<p>Название  Цена</p>


<ul>
  <%= while @num <= @products.count do %>
    <li>
      <%= Product.find_by_id(@num).title %>
      <%= Product.find_by_id(@num).price %>
      <button>+</button>
      <%- @num += 1 %>
    </li>
  <% end %>
  <%- @num = 1 %>
</ul>
</div>